In [1]:
INFERENCE_MAX_LENGTH = 512
MODEL_PATH = '/home/kd/Documents/pii_detection/models/'
model_path = MODEL_PATH+'bert_large_ner'
DATA_PATH = '/home/kd/Documents/pii_detection/data/'
TRAINING_MODEL_PATH = 'dslim/bert-large-NER'

In [2]:
import json
import argparse
from itertools import chain
import pandas as pd
from pathlib import Path
from transformers import AutoTokenizer, AutoModelForTokenClassification, Trainer, TrainingArguments, DataCollatorForTokenClassification
from datasets import Dataset
import numpy as np

/home/kd/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
/home/kd/anaconda3/lib/python3.11/site-packages/transformers/utils/generic.py:260: UserWarning: torch.utils._pytree._register_pytree_node is deprecated. Please use torch.utils._pytree.register_pytree_node instead.
  torch.utils._pytree._register_pytree_node(
/home/kd/anaconda3/lib/python3.11/site-packages/transformers/utils/generic.py:260: UserWarning: torch.utils._pytree._register_pytree_node is deprecated. Please use torch.utils._pytree.register_pytree_node instead.
  torch.utils._pytree._register_pytree_node(

In [3]:
def tokenize(example, tokenizer):
    text = []
    token_map = []
    
    idx = 0
    
    for t, ws in zip(example["tokens"], example["trailing_whitespace"]):
        
        text.append(t)
        token_map.extend([idx]*len(t))
        if ws:
            text.append(" ")
            token_map.append(-1)
            
        idx += 1
        
        
    tokenized = tokenizer("".join(text), return_offsets_mapping=True, truncation=True, max_length=INFERENCE_MAX_LENGTH)
    
        
    return {
        **tokenized,
        "token_map": token_map,
    }

In [4]:
data = json.load(open(DATA_PATH+"test.json"))

ds = Dataset.from_dict({
    "full_text": [x["full_text"] for x in data],
    "document": [x["document"] for x in data],
    "tokens": [x["tokens"] for x in data],
    "trailing_whitespace": [x["trailing_whitespace"] for x in data],
})

# tokenizer = AutoTokenizer.from_pretrained(model_path)
tokenizer = AutoTokenizer.from_pretrained(TRAINING_MODEL_PATH)
ds = ds.map(tokenize, fn_kwargs={"tokenizer": tokenizer}, num_proc=2)

Map (num_proc=2):   0%|          | 0/10 [00:00<?, ? examples/s]

In [5]:
model = AutoModelForTokenClassification.from_pretrained(model_path)
collator = DataCollatorForTokenClassification(tokenizer, pad_to_multiple_of=16)
args = TrainingArguments(
    ".", 
    per_device_eval_batch_size=1, 
    report_to="none",
)
trainer = Trainer(
    model=model, 
    args=args, 
    data_collator=collator, 
    tokenizer=tokenizer,
)

/home/kd/anaconda3/lib/python3.11/site-packages/transformers/utils/generic.py:260: UserWarning: torch.utils._pytree._register_pytree_node is deprecated. Please use torch.utils._pytree.register_pytree_node instead.
  torch.utils._pytree._register_pytree_node(

In [6]:
predictions = trainer.predict(ds).predictions
pred_softmax = np.exp(predictions) / np.sum(np.exp(predictions), axis = 2).reshape(predictions.shape[0],predictions.shape[1],1)

config = json.load(open(Path(model_path) / "config.json"))
id2label = config["id2label"]
preds = predictions.argmax(-1)
preds_without_O = pred_softmax[:,:,:12].argmax(-1)
O_preds = pred_softmax[:,:,12]

threshold = 0.9
preds_final = np.where(O_preds < threshold, preds_without_O , preds)

You're using a BertTokenizerFast tokenizer. Please note that with a fast tokenizer, using the `__call__` method is faster than using a method to encode the text followed by a call to the `pad` method to get a padded encoding.

  0%|          | 0/10 [00:00<?, ?it/s]

In [7]:
triplets = []
document, token, label, token_str = [], [], [], []
for p, token_map, offsets, tokens, doc in zip(preds_final, ds["token_map"], ds["offset_mapping"], ds["tokens"], ds["document"]):

    for token_pred, (start_idx, end_idx) in zip(p, offsets):
        label_pred = id2label[str(token_pred)]

        if start_idx + end_idx == 0: continue

        if token_map[start_idx] == -1:
            start_idx += 1

        # ignore "\n\n"
        while start_idx < len(token_map) and tokens[token_map[start_idx]].isspace():
            start_idx += 1

        if start_idx >= len(token_map): break

        token_id = token_map[start_idx]

        # ignore "O" predictions and whitespace preds
        if label_pred != "O" and token_id != -1:
            triplet = (label_pred, token_id, tokens[token_id])

            if triplet not in triplets:
                document.append(doc)
                token.append(token_id)
                label.append(label_pred)
                token_str.append(tokens[token_id])
                triplets.append(triplet)

In [8]:
df = pd.DataFrame({
    "document": document,
    "token": token,
    "label": label,
    "token_str": token_str
})
df["row_id"] = list(range(len(df)))
display(df.head(100))

    document  token           label   token_str  row_id
0          7      9  B-NAME_STUDENT    Nathalie       0
1          7     10  I-NAME_STUDENT       Sylla       1
2          7    479  I-NAME_STUDENT       Avril       2
3          7    482  B-NAME_STUDENT    Nathalie       3
4          7    483  I-NAME_STUDENT       Sylla       4
5         10      0  B-NAME_STUDENT       Diego       5
6         10      1  I-NAME_STUDENT     Estrada       6
7         10    464  B-NAME_STUDENT       Diego       7
8         10    465  I-NAME_STUDENT     Estrada       8
9         16      4  B-NAME_STUDENT    Gilberto       9
10        16      5  I-NAME_STUDENT      Gamboa      10
11        20      5  B-NAME_STUDENT       Sindy      11
12        20      6  I-NAME_STUDENT      Samaca      12
13        56     12  B-NAME_STUDENT      Nadine      13
14        56     13  I-NAME_STUDENT        Born      14
15        86      6  B-NAME_STUDENT      Eladio      15
16        86      7  I-NAME_STUDENT       Amaya      16
17        93      0  B-NAME_STUDENT      Silvia      17
18        93      1  I-NAME_STUDENT  Villalobos      18
19       104      8  B-NAME_STUDENT       Sakir      19
20       104      9  I-NAME_STUDENT       Ahmad      20
21       112      5  B-NAME_STUDENT   Francisco      21
22       112      6  I-NAME_STUDENT    Ferreira      22
23       123     32  B-NAME_STUDENT     Stefano      23
24       123     33  I-NAME_STUDENT      Lovato      24
25       123    224  B-NAME_STUDENT        Igor      25

In [10]:
df[["row_id", "document", "token", "label"]].to_csv("submission.csv", index=False)

In [21]:
samp_sub = pd.read_csv(DATA_PATH+"sample_submission.csv")